# Data Preprocessing

## Imports

In [45]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

## Read Dataset

In [46]:
data = pd.read_csv("data/Heart_Disease_Prediction_kaggle_data.csv")
data.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [47]:
data["Heart Disease"].value_counts()

Heart Disease
Absence     150
Presence    120
Name: count, dtype: int64

## Sampling and segmentation

In [48]:
#TO DO

## Handling duplicate values

In [49]:
#TO DO

## Handling Missing Data 
1. Missing exams at specific time points
2. Missing critical exams
3. Missing Clinical history

In [50]:
#TO DO

## Outlier Detection and Treatment
1. Individual Observations
2. Deviant Features

In [51]:
# TO DO

## Encoding Categorical Variables

In [52]:
def encoding(df):
    df["Heart Disease"] = df["Heart Disease"].map({"Absence":0, "Presence": 1})
    df = df.rename(columns={'EKG results': 'ECG results'})
    df = df[df['ECG results'] != 1]

    return df

In [53]:
data = encoding(data)

## Normalization
scale and standardize

In [54]:
def scale_and_standardize(df, target):
    X = df.drop(columns=[target])
    y = df[target]

    # Scale to [0, 1]
    scaler_minmax = MinMaxScaler()
    X_minmax = scaler_minmax.fit_transform(X)

    # Standardize to zero mean and unit variance
    scaler_std = StandardScaler()
    X_std = scaler_std.fit_transform(X_minmax)

    # Convert back to DataFrame
    X_scaled_std = pd.DataFrame(X_std, columns=X.columns, index=df.index)

    # Combine with target
    df_final = pd.concat([X_scaled_std, y], axis=1)

    return df_final

data = scale_and_standardize(data, "Heart Disease")

## Adressing Class Imbalance

In [55]:
#TO DO

In [58]:
data["Heart Disease"].value_counts()

Heart Disease
0    149
1    119
Name: count, dtype: int64

## Dimensionality Reduction

In [ ]:
#TO DO PCAS

## Save Dataset

In [57]:
data.to_csv("data/Heart_Disease_Kaggle_Preprocessed.csv", index=False)
data.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,ECG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,1.733026,0.681528,0.871534,-0.064103,1.407389,-0.418854,0.977857,-1.777056,-0.699206,1.193857,0.680101,2.462874,-0.881493,1
1,1.400801,-1.467290,-0.180588,-0.914581,6.109512,-0.418854,0.977857,0.437459,-0.699206,0.491048,0.680101,-0.715538,1.181740,0
2,0.293383,0.681528,-1.232710,-0.404294,0.222143,-0.418854,-1.022644,-0.387556,-0.699206,-0.651016,-0.947283,-0.715538,1.181740,1
3,1.068576,0.681528,0.871534,-0.177500,0.261004,-0.418854,-1.022644,-1.950743,1.430194,-0.738867,0.680101,0.343933,1.181740,0
4,2.175994,-1.467290,-1.232710,-0.631088,0.377585,-0.418854,0.977857,-1.255994,1.430194,-0.738867,-0.947283,0.343933,-0.881493,0